+------------+
| left hand  |
| menu       |
+------------+
| option 1   |
+------------+
| option 2   |
+------------+
| option 3   |
+------------+
| directory  |
+------------+
| end menu   |
+------------+
